/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;


$liColor:#f5ad1b,
#5f89ce,
#94bf45,
#da8ec5,
#000,
#000,
#000;

$gap:32px;
$tablet: 448px;
$desktop:944px+(2*$gap);
$widescreen: 944px+(2*$gap);
$fullhd: 1136px+(2*$gap);



/* Components */