
@font-face {
  font-family: "BrittiSans";
  src: url("/assets/fonts/britti-sans-regular-webfont.woff") format("woff");
  src: url("./assets/fonts/britti-sans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(225,225,225);

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* css变量定义 */
  --color-primary:#0057FF
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  font-family: "BrittiSans";
  max-width: 1328px;
  margin: 0 auto;
  padding: 2rem 24px;
}

